<!--Form-->
<div class="title">
    <mat-toolbar>
        <span>Actualizar administrador</span>
    </mat-toolbar>
</div>
<div class="admin-form">
    <mat-form-field>
        <mat-select placeholder="Administrador a actualizar*">
            <mat-option>Admin1</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Nombre completo*">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Dirección*">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Teléfono*">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Usuario*">
    </mat-form-field>
<!--TODO: Crear contraseña y enviar a correo-->
</div>
<div class="crear-admin">
    <button mat-raised-button color="primary" type="submit">Crear</button>
</div>