<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/b5486269-b488-4909-bc36-a997cd3787b6/resourceGroups/Ubytec_DatabaseAPI/providers/Microsoft.Web/sites/UbyTEC-API</ResourceId>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://ubytec-api-dkfpfjghc9fdfzad.canadacentral-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ProjectGuid>7dd36061-f95e-458e-8878-de1bab42343e</ProjectGuid>
    <PublishUrl>https://ubytec-api-dkfpfjghc9fdfzad.scm.canadacentral-01.azurewebsites.net/</PublishUrl>
    <UserName>$UbyTEC-API</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>