<!--Form-->
<div class="title">
    <mat-toolbar>
        <span>Crear producto</span>
    </mat-toolbar>
</div>
<div class="admin-form">
    <mat-form-field>
        <input matInput placeholder="Nombre*">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Categoría*">
    </mat-form-field>
</div>
<div class="upload-button">
    Fotos del producto: 
    <button mat-raised-button color="primary" type="submit">
        <mat-icon>upload</mat-icon>
    </button>
</div>
<div class="admin-form">
    <mat-form-field>
        <input matInput placeholder="Precio*">
    </mat-form-field>
</div>
<div class="crear-admin">
    <button mat-raised-button color="primary" type="submit">Crear</button>
</div>