.titulo-carrito {
    font-size: 24px;             /* Tamaño de fuente */
    font-weight: bold;            /* Hace el texto más grueso */
    color: #2B3B5C;
    text-align: center;           /* Centra el texto en la pantalla */
    margin: 20px 0;               /* Espaciado superior e inferior */
    padding-bottom: 10px;         /* Espaciado interno en la parte inferior */
    border-bottom: 2px solid #2B3B5C; /* Línea inferior */
    font-family: 'Arial', sans-serif; 
}
/*---------------------------------------------buscador---------------------------------------*/
.mat-mdc-form-field {
    font-size: 14px;
    width: 25%;
    margin: 10px auto;
    margin-left: 2.5%;
  }
  
  /* ------------------------------Contenedor de la tabla -------------------------------------------*/
.mat-elevation-z8 {
    width: 80%;         /* Ancho del 80% de la pantalla */
    margin: 10px auto;     /* esapacio arriba yCentrar la tabla horizontalmente */
  }
  table {
    width: 100%;
  }

  /*---------------------boton de comprar y editar------------------------------------------------------------*/

  button {
    background: none; /* Eliminar el fondo del botón */
    border: none; /* Eliminar el borde del botón */
    padding: 0; /* Eliminar el padding del botón */
    cursor: pointer; /* Cambiar el cursor al pasar el mouse sobre el botón */
  }
  
  button mat-icon {
    color: green; 
    font-size: 24px; 
  }
  
  button:hover mat-icon {
    color: darkgreen; /* Cambiar el color del icono al pasar el mouse */
  }

/*---------------------boton de eliminarr------------------------------------------------------------*/

.delete-btn {
    color: red;  /* Cambia el color del texto e icono */
    background: none;  /* Elimina el fondo del botón */
    border: none;      /* Elimina el borde del botón */
    padding: 0;        /* Elimina el padding del botón */
    cursor: pointer;   /* Cambia el cursor al pasar el mouse */
  }
  
  .delete-btn mat-icon {
    color: inherit;  /* Asegura que el icono tome el color del botón */
  }

  .delete-btn:hover mat-icon {
    color: rgb(114, 14, 14); /* Cambiar el color del icono al pasar el mouse */
  }

  