<div class="table-container">
    <!-- Primera tabla con su título -->
    <div class="table-wrapper">
      <h2 class="table-title">Gestión de Gerentes</h2>
      <app-business-manager-table></app-business-manager-table>
    </div>
  
    <!-- Separador -->
    <div class="table-separator"></div>
  
    <!-- Segunda tabla con su título -->
    <div class="table-wrapper">
      <h2 class="table-title">Gestión de Negocios Afiliados</h2>
      <app-business-associate-table></app-business-associate-table>
    </div>
  </div>
  