<!--Form-->
<div class="title">
    <mat-toolbar>
        <span>Actualizar producto</span>
    </mat-toolbar>
</div>
<div class="admin-form">
    <mat-form-field>
        <input matInput placeholder="Nombre*">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Categoría*">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="URL de fotos*">
    </mat-form-field>
<!-- Mostrar imagen aca -->
    <mat-form-field>
        <input matInput placeholder="Precio*">
    </mat-form-field>
</div>
<div class="crear-admin">
    <button mat-raised-button color="primary" type="submit">Actualizar</button>
</div>