<div class="modify-state-container">
  <h2>Modificar Estado</h2>

  <form [formGroup]="stateForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill">
      <mat-label>Estado</mat-label>
      <mat-select formControlName="state" required>
        <mat-option value="Disponible">Disponible</mat-option>
        <mat-option value="No disponible">No disponible</mat-option>
      </mat-select>
      <mat-error *ngIf="stateForm.get('state')?.hasError('required')">
        Este campo es obligatorio
      </mat-error>
    </mat-form-field>

    <div class="button-container">
      <button mat-raised-button color="primary" type="submit">Actualizar Estado</button>
    </div>
  </form>
</div>