<div class="title">
    Solicitar afiliación
</div>
<form [formGroup]="service.form">
    <div class="negocio-form">
        <mat-form-field>
            <input formControlName="Legal_Id" matInput placeholder="Número Cédula*">
            <mat-error *ngIf="service.form.controls['Legal_Id'].errors?.['required']">Este campo es obligatorio.</mat-error>
            <mat-error *ngIf="service.form.controls['Legal_Id'].errors?.['minlength'] || service.form.controls['Legal_Id'].errors?.['maxlength']">
                El número debe ser de 9 dígitos
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <input formControlName="BusinessName" matInput placeholder="Nombre comercio*">
            <mat-error>Este campo es obligatorio</mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-select formControlName="BusinessType_Identification" placeholder="Tipo de comercio*">
                <mat-option>Tipo1</mat-option>
            </mat-select>
            <mat-error>Este campo es obligatorio</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input formControlName="Direction" matInput placeholder="Direccion*">
            <mat-error>Este campo es obligatorio</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input formControlName="Phone" matInput placeholder="Teléfonos*">
            <mat-error *ngIf="service.form.controls['Phone'].errors?.['required']">Este campo es obligatorio.</mat-error>
            <mat-error *ngIf="service.form.controls['Phone'].errors?.['minlength'] || service.form.controls['Phone'].errors?.['maxlength']">
                El número debe ser de 8 dígitos
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <input formControlName="BusinessManager_Email" matInput placeholder="Correo Electrónico de administrador*">
            <mat-error *ngIf="service.form.controls['BusinessManager_Email'].errors?.['required']">Este campo es obligatorio</mat-error>
            <mat-error *ngIf="service.form.controls['BusinessManager_Email'].errors?.['email']">Ingresar un correo válido</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input formControlName="SINPE" matInput placeholder="Número SINPE móvil*">
            <mat-error *ngIf="service.form.controls['SINPE'].errors?.['required']">Este campo es obligatorio.</mat-error>
            <mat-error *ngIf="service.form.controls['SINPE'].errors?.['minlength'] || service.form.controls['SINPE'].errors?.['maxlength']">
                El número debe ser de 8 dígitos
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <input formControlName="BusinessAssociate_Legal_Id" matInput placeholder="Cédula del administrador*">
            <mat-error *ngIf="service.form.controls['BusinessAssociate_Legal_Id'].errors?.['required']">Este campo es obligatorio.</mat-error>
            <mat-error *ngIf="service.form.controls['BusinessAssociate_Legal_Id'].errors?.['minlength'] || service.form.controls['BusinessAssociate_Legal_Id'].errors?.['maxlength']">
                El número debe ser de 9 dígitos
            </mat-error>
        </mat-form-field>
    </div>
    <div class="boton-afiliacion">
        <button mat-raised-button color="primary" type="submit" [disabled]="service.form.invalid">Solicitar</button>
    </div>
</form>