<div class="title">
    <mat-toolbar>
        <span>Crear producto</span>
    </mat-toolbar>
</div>
<form [formGroup]="service.form">
    <div class="admin-form">
        <mat-form-field>
            <input formControlName="Name" matInput placeholder="Nombre*">
            <mat-error>Este campo es obligatorio.</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input formControlName="Category" matInput placeholder="Categoría*">
            <mat-error>Este campo es obligatorio.</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="URL de fotos*">
        </mat-form-field>
    <!-- Mostrar imagen aca -->
        <mat-form-field>
            <input type="number" formControlName="Price" matInput placeholder="Precio*">
            <mat-error>Este campo es obligatorio.</mat-error>
        </mat-form-field>
    </div>
    <div class="crear-admin">
        <button mat-raised-button color="primary" type="submit" (click)="onSubmit(service.form.value)">Crear</button>
    </div>
</form>