<div class="title">
    <mat-toolbar>
        <span>Crear producto</span>
    </mat-toolbar>
</div>
<form [formGroup]="service.form">
    <div class="admin-form">
        <mat-form-field>
            <input formControlName="Name" matInput placeholder="Nombre*">
            <mat-error>Este campo es obligatorio.</mat-error>

            <mat-select formControlName="Category" matInput placeholder="Categoría*">
                <mat-option>Ninguna</mat-option>
                <ng-container *ngFor="let categoria of categorias">
                    <mat-option value="{{categoria.value}}">{{categoria.value}}</mat-option>
                </ng-container>
            </mat-select>
                <mat-error>Este campo es obligatorio.</mat-error>       
            </mat-form-field>
    </div>
    <div>
        <app-fotos></app-fotos>
    </div>
    <div class="admin-form">
            <mat-form-field>
                <input type="number" formControlName="Price" matInput placeholder="Precio*">
                <mat-error>Este campo es obligatorio.</mat-error>
        </mat-form-field>
    </div>
    <div class="crear-foto">
        <button mat-raised-button color="primary" type="submit" (click)="onSubmit(service.form.value)">Crear producto</button>
    </div>
</form>