<div class="title">
    <mat-toolbar>
        <span>Gestionar administrador</span>
    </mat-toolbar>
</div>
<div class="admin-button">
    <button mat-raised-button (click)="openDialog()" color="primary" type="crear">Crear</button>
</div>
<div class="admin-button">
    <button mat-raised-button (click)="updateDialog()" color="primary" type="actualizar">Actualizar</button>
</div>
<div class="admin-button">
    <button mat-raised-button (click)="deleteDialog()" color="warn" type="eliminar">Eliminar</button>
</div>