<p class="titulo-pedidos">Tus pedidos</p>

<!-------------------------Cuadros de los últimos pedidos----------------------------------------------------> 
<div class="container">
    <mat-card *ngFor="let order of lastOrders" class="order-card">
      <mat-card-title>{{ order.businessAName }}</mat-card-title><!-- Muestra el nombre del negocio -->
      <mat-card-content>
        <p>Monto: {{ order.total | currency:'CRC':'symbol' }}</p><!-- Muestra el monto de la orden -->
        <p> {{ order.feedbackB }}</p> <!-- Muestra el feedback del negocio -->
        <p>{{ order.feedbackO }}</p>  <!--Muestra el feedback de la orden -->
        <p>{{ order.feedbackD }}</p>  <!--Muestra el feedback del repartidor -->
      </mat-card-content>
    </mat-card>
  </div>